<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Accueil</title>
    {% endblock %}

    <!-- CSS Additionnel -->
    {% block stylesheet %}
    {% endblock %}

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    <!-- Mon CSS -->

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">


</head>
<body>


{% include "@MaPage/Default/common/header.html.twig" %}


{% block body %}

{% endblock %}


{% include "@MaPage/Default/common/footer.html.twig" %}


{% block JS %}

{% endblock %}

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>