{% extends '@MaPage/base.html.twig' %}
{% block body %}
<h1 class="title_maintenance">En maintenance</h1>



<div class="img_maintenance" style="
        background: url('{{ asset('assets/img/maintenance.gif') }}');
        background-size: cover;
        background-position: center;
        width: 20%;
        ">
</div>
{% endblock %}