/*---------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------   Page Accueil (MaPageBundle)  -----------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------*/

img {
  max-width: 100%;
  height: auto; }

/*--------------------------------------------------- Article----------------------------------------------------------*/

.container-article {
  width: 48%;
  height: 100vh;
  margin-top: 120px;
  margin-left: 20px;
  float: left;
  position: relative;
}

.article-index {
  width: 100%;
  height: 500px;
  position: absolute;
}

.small-articles {
  display: flex;
  margin-top: 500px;
}

.description-article {
  position: absolute;
  top: 61%;
  left: 18%;
  font-size: 49px;
  color: #e3f50d;
}

.article-small {
  float: left;
  position: relative;
  width: 220px;
  height: 150px;
  margin-left: 10px;
  margin-top: 10px; }

/*--------------------------------------------------- Mangas ----------------------------------------------------------*/

.texte-img-soul {
  position: absolute;
  top: 37px;
  left: 67px;
  color: #ec1303;
  font-family: 'Kavivanar', cursive;
}

.texte-img-bStar {
  position: absolute;
  top: -7px;
  left: 67px;
  color: #ec1303;
  font-family: 'Kavivanar', cursive;
}

.texte-img-maka {
  position: absolute;
  top: -7px;
  left: 22px;
  color: #ec1303;
  font-family: 'Kavivanar', cursive;
}

.article-mangas {
  //background: url(../img/Soul-Eater-Wallpaper-Background-Windows-Anime.jpg) no-repeat;
  //background: url(../../src/ArticleBundle/Resources/public/img/Soul-Eater-Wallpaper-Background-Windows-Anime.jpg) no-repeat;
  background-position: 59%;
  background-size: 112%;
}

/*------------------------------------------------------ Jeux ----------------------------------------------------------*/

.article-jeux {
  //background: url(../img/leagueoflegend-nash.jpg) no-repeat;
  background: url(../../src/ArticleBundle/Resources/public/img/leagueoflegend-nash.jpg) no-repeat;
  background-position: 59%;
  background-size: 125%;
}

.article-img-jeux {
  position: absolute;
  top: 10px;
  left: 31%;
  width: 252px;
  height: 50px;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(22%, 50%);
  color: white;
  font-family: 'Kavivanar', cursive;
}

.texte-img {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: 'Kavivanar', cursive;
}
