/*---------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------   Footer (MaPageBundle - footer.html.twig)   -------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------*/

.container_footer{
  clear: both;

}

.footer{
  margin-top: 100px;
  height: 100px;
  position: relative;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;

}

.paragraphe_footer{
  color: white;
}