/*---------------------------------------------------------------------------------------------------------------------*/

/*---------------------------   Maintenance (ArticleBundle - maintenance.html.twig)   ---------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------*/

.title_maintenance{
  margin-top: 120px;
  text-align: center;
}

.img_maintenance{
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}