<header class="header nav-down">

    <a href="https://www.lapiscine.pro/"><div class="header-img"></div></a>

    {#<navbar class="navbar-menu">
        <ul class="container-ul">
            <li class="menu menu-acceuil"><a class="menu-lien menu-accueil-clic" href="{{ path('ma_page_homepage') }}">ACCUEIL</a></li>
            <li class="menu menu-mangas"><a class="menu-lien menu-mangas-clic" href="{{ path('article_homepage') }}">MANGAS ANIME</a></li>
            <li class="menu menu-jeux"><a class="menu-lien menu-jeux-clic" href="{{ path('article_maintenance') }}">JEUX VIDEO</a></li>
        </ul>
    </navbar>#}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
    </nav>

</header>